.shop-items-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	/* padding: 10px 15px; */
	box-sizing: border-box;
}

.shop-items-img-container {
	height: 100%;
	width: 100%;
}

.shop-items-img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.shop-items-information-container {
	height: fit-content;
	width: 100%;
	background-color: #1f2222;
	padding: 10px 15px;
	box-sizing: border-box;
	color: white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	box-shadow: inset 0 0 10px rgb(0 0 0 / 70%);
}
.shop-items-title {
	font-size: 1.4rem;
}

.shop-items-price {
	text-align: start;
	font-size: 1.2rem;
}

.shop-items-original-price {
	position: relative;
	margin-left: 5px;
	font-size: 1rem;

	color: rgba(255, 255, 255, 0.5);
}

.shop-items-original-price::after {
	position: absolute;
	content: "";
	width: 110%;
	height: 1px;
	left: -2px;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.6);
}

.shop-items-options {
	display: flex;
	gap: 20px;
}

.shop-items-add-btn,
.shop-items-buy-btn {
	outline: none;
	border: none;
	appearance: none;
	padding: 15px 15px;
	border-radius: 6px;
	cursor: pointer;
}

.shop-items-buy-btn {
	width: 70%;
	background-color: #f9d713;
	transition: background-color 150ms ease-in-out;
}

.shop-items-buy-btn:hover {
	width: 70%;
	background-color: #ffc235;
}

.shop-items-add-btn {
	width: 30%;
	background-color: rgb(237, 237, 237);
	background-image: url("../../../assets/img/add-cart.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35px 35px;
}
