.item-display-container {
	background-color: #1f2222;
	display: flex;
	height: 800px;
	width: 1500px;
	color: white;
	position: relative;
}
.item-display-img-container {
	width: 70%;
}

.item-display-img-container > img {
	object-fit: fill;
	height: 100%;
	width: 100%;
}

.item-display-contents {
	width: 30%;
	flex: 1;
	padding: 50px 50px;
	display: flex;
	flex-direction: column;
}

.item-genres {
	display: flex;
	width: 100%;
}
.item-genres-container {
	width: 100%;
}

.item-title {
	font-size: 2.4rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 50px;
}
.item-dev-information-list {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
}


.item-dev-information-list > * {
    display: flex;
    justify-content: space-between;
}



.item-floating-sale {
	position: absolute;
	left: -8px;
	top: 20px;
	position: absolute;
	background-color: #1b9045;
	width: 150px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	font-weight: bold;
	box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.7);
	padding: 5px 10px;
	display: flex;
	justify-content: center;
	font-size: 3rem;
}

.item-floating-sale-span {
	font-weight: 200;
	font-size: 2.4rem;
}
.item-descriptions > * {
	display: block;
}

.item-btn-options {
	display: flex;
	flex-direction: column;
}
.item-btn-options > * {
	appearance: none;
	outline: none;
	border: none;
	margin: 5px 0px;
	padding: 10px 20px;
	border-radius: 6px;
	height: 50px;
	cursor: pointer;
	font-size: 1rem;
	font-weight: bold;
}

.item-btn-buy {
	background-color: #f9d713;
	color: #1f2222;
}
.item-btn-add {
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: 2px solid white;
}
