.linksGap {
	gap: 2em;
}
.linksMargin {
    margin-left: 4em;
}

.size{
	height: 15%;
}
.linksDisplay {
	display: flex;
}
.linksFont{
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.navContDisplay {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: red;
	padding: 1em 4em 1em 4em;
	box-sizing: border-box;
}
.logoFont {
	font-size: 3.3rem;
	font-weight: bold;
	color: white;
}
