@keyframes sidebarActive {

    from {
        left: 100%
    }

    to {
        left: 70%;
    }
}

@keyframes sidebarInactive {
    from {
        left: 70%
    }

    to {
        left: 100%;
    }
}


.checkout-sidebar-active {
    left: 70%;
    animation-name: sidebarActive;
    animation-direction: normal;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
}

.checkout-sidebar-inactive {
    left: 100%;
    animation-name: sidebarInactive;
    animation-direction: normal;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
}


.checkout-contents-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
}

.checkout-sidebar {
    display: flex;
    top: 100%;
    padding: 7em 5em;
    position: absolute;
    min-height: max-content;
    width: 400px;
    z-index: inherit;
    background-color: #e9ecef;
}