:root {
    --sideBar-width: 600px;

}

@keyframes sidebarActive {

    from {
        left: 100%
    }

    to {
        left: calc(95% - var(--sideBar-width));
    }
}

@keyframes sidebarInactive {
    from {
        left: calc(95% - var(--sideBar-width));
    }

    to {
        left: 100%;
    }
}



.checkout-sidebar-active {
    left: calc(95% - var(--sideBar-width));
    animation-name: sidebarActive;
    animation-direction: normal;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
}

.checkout-sidebar-inactive {
    left: 100%;
    animation-name: sidebarInactive;
    animation-direction: normal;
    animation-duration: 150ms;
    animation-timing-function: ease-in-out;
}


.checkout-contents-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
    flex: 1;
}

.checkout-sidebar {
    display: flex;
    top: 100%;
    padding: 4em 4em;
    flex-direction: column;
    position: absolute;
    min-height: max-content;
    width: var(--sideBar-width);
    z-index: 9;
    background-color: #e9ecef;
    box-sizing: content-box;
    gap: 30px;
}

.checkout-header {
    font-size: 2rem;
    display: block;
    position: relative;
}

.checkout-header::after {
    --checkout-icon-size-w: 25px;
    --checkout-icon-size-h: 25px;
    display: block;
    position: absolute;
    content: "";
    background-image: url("../../../assets/img/cart-checkout.png");
    background-repeat: no-repeat;
    background-size: var(--checkout-icon-size-w) var(--checkout-icon-size-h);
    width: var(--checkout-icon-size-w);
    height: var(--checkout-icon-size-h);
    top: 18%;
    left: 43%;
    background-position: bottom;
}